black
flake8
ipython
isort
jupyterlab
loguru
matplotlib
mkdocs
notebook
numpy
pandas
pip
python-dotenv
scikit-learn
tqdm
typer
wtpsplit
langchain_aws
langchain.schema
langchain_community.document_loaders
datetime
re
os
logging
asyncio
time
random
botocore.exceptions
datasets
evaluate
seqeval
-e .
